* {
  margin: 0;
  padding: 0;
}

.parent {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
}

.row {
  flex: 1;
  display: flex;
}

.row+.row {
  margin-top: 10px;
}

.column {
  /*background: #099;*/
  border: 1px solid saddlebrown;
  flex: 1;
}

.column+.column {
  margin-left: 10px;
}
